In [4]:
import math
import os
import random
import re
import sys

In [1]:
# Complete the sockMerchant function below.
n = 9
ar = [10, 20, 20, 10, 10, 30, 50, 10, 20]

def sockMerchant(n,ar):
    for i in ar:
        for j in (i+1):
            print(i)
            print(j)
    
sockMerchant(n,ar)

TypeError: 'int' object is not iterable

In [2]:
ar = [10,20,20,10,10,30,20,50,10,20]
l = 0
for i in set(ar):
    j = ar.count(i)
    k = j // 2
    l = l + k
print(l)

4

In [31]:
ar = [10,20,20,10,10,30,50,10,20]
print(sum([ar.count(i)//2 for i in set(ar)]))

3

In [42]:
x = 123%10
print(x)

3

In [124]:
import math
x = 123
digits = int(math.log10(x)) + 1
place = 10**(digits - 1)
returnVal = 0
lst = []
lst2 = []
while x > 0:
    lst.append(x % 10)
    x = x // 10

lst2 = lst[::-1]


print(lst2)  
print(lst)

[1, 2, 3]
[3, 2, 1]

In [158]:
10**5

100000

In [71]:
import math
d = int(math.log10(232345345)+1)
print(d)

9

In [161]:
x = 123
d = int(math.log10(x)+1)
p = 10**(d-1)
ans = 0 

while x > 0:
    ans = ans + p*(x % 10)
    x = x // 10
    p = p / 10
    
print(int(ans))

321

In [184]:
s = 'abcddeabcfghia'
last = 0
dict = {}
ans = 0 

for i in range(len(s)):
    if s[i] in dict:
        last = max(last, dict[s[i]])
        ans =  max(ans, i-last) 
    dict[s[i]] = i
    
print(ans)

9

In [194]:
# return odd value of the array elements
#ar = [1,-1,2,-2]
ar = [0,1,2,3,4,5]

for i in ar:
    if i%2 != 0:
        print(ar[i])

1
3
5

In [199]:
# Return Digits in the list

x = 123
lst = []

while x > 0:
    a = x % 10
    x = x // 10
    lst.append(a)

print(lst[::-1])

[1, 2, 3]

In [218]:
x = [1,1,1] # [1,2,3]

import numpy as np

In [219]:
s = 0
s = np.cumsum(x)
print(s)

[1 2 3]

In [222]:
x = [1,2,3]
c = 0
lst = []
for i in x:
    c = c+i
    lst.append(c)
print(lst)

[1, 3, 6]

In [ ]:
s = 'abcdabcdefga'
ans = 0
last = 0
dict = {}

for i in range(len(s)):
    if s[i] in dict:
        last = max(dict[s[i]],last)
        ans = max(i-last, ans)
        
    dict[s[i]] = i    

print(ans)

In [242]:
x = 123
ans = 0
lst = []
s = ""

while x > 0:
    ans = x % 10
    x = x // 10
    s = s+str(ans)
    lst.append(s)

TypeError: 'str' object is not callable

In [250]:
str
s1 = str

i = 0
s = s1(i)

TypeError: 'str' object is not callable

In [298]:

#arr = [3, 2, 2, 1, 2, 2, 3, 3, 3, 3]
arr = [1, 2, 2, 3, 3]
dict = {}
lst = []
for i in set(arr):
    dict[i] = arr.count(i)
    
e =max(dict, key = dict.get)

for j in arr:
    if e == j:
        lst.append(j)
        
print(len(arr) - len(lst))

3

In [81]:
intervals = [[1,3],[8,10],[15,18],[2,6]]
intervals.sort(key = lambda pair : pair[0])

print(intervals)
ans = intervals[0]

[[1, 3], [2, 6], [8, 10], [15, 18]]

In [78]:
intervals = [[1,3],[8,10],[15,18],[2,6]]
intervals.sort(key = lambda pair : pair[0])
prev = 0
ans = [intervals[0]]
prev = ans[0][1]
 
for start, end in intervals[1:]:
    prev = ans[0][1]
    if prev >= start:
        ans[0][1] = max(prev, end)
    else:
        ans.append([start,end])

print(ans)

[[1, 6], [8, 10], [15, 18]]

In [89]:
arr1 = [1,0,3,2,4,1]
ltr = [0]*len(arr1)
rtl = [0]*len(arr1)
totalWater = 0

ltr[0] = arr1[0]

for i in range(1,len(arr1)):
    ltr[i] = max(ltr[i-1], arr1[i])

rtl[len(arr1)-1] = arr1[len(arr1)-1]

for j in reversed(range(len(arr1)-1)):
    rtl[j] = max(rtl[j+1], arr1[j])

for k in range(len(arr1)):
    totalWater += min(ltr[k],rtl[k])-arr1[k]
    
print(totalWater)

2

In [114]:
s = 'abcdabcdefghab'
occur = {}
last = 0
ans = 0

for j in range(len(s)):
    if s[j] in occur:
        last = occur[s[j]]
        ans = max(ans, j-last)          
    occur[s[j]] = j    
    
print(ans)

8

In [115]:
a = [1,2,3,4]
b = [3,4,5,6]
c = [3,4,7,8]

lst = []

set1 =set(a) & set(b) 
set2 = set1 & set(c)

for i in set2:
    lst.append(i)

print(lst)

[3, 4]

In [21]:
arr = [1, 1, 5, 5, 10, 8, 7]
arr.remove(min(arr))
arr.remove(min(arr))
arr.remove(max(arr))

print(arr)
s = 0

for i in arr:
    s = s + i

print(s//len(arr))

[5, 5, 8, 7]
6

In [22]:
import pandas as pd

In [26]:
d = [1,2,3,4,5]
df = pd.DataFrame(d)
df

   0
0  1
1  2
2  3
3  4
4  5

In [28]:
d = [['Name : ','Dipak'],['Last Name : ','Patil']]
df = pd.DataFrame(d)
df

              0      1
0       Name :   Dipak
1  Last Name :   Patil

In [64]:
import re
s = "A man, a Plan, a canal: Panama" 
extracted = re.sub("^A-Za-z0-9+", '', s.lower())

print(extracted == extracted[::-1])
print(extracted)
print(extracted[::-1])

False
a man, a plan, a canal: panama
amanap :lanac a ,nalp a ,nam a

In [62]:
s = "A man, a Plan, a canal: Panama" 
extracted = re.sub("\W+", '', s.lower())

print(extracted == extracted[::-1])
print(extracted)
print(extracted[::-1])

True
amanaplanacanalpanama
amanaplanacanalpanama

In [104]:
s1 = 'ba a, ab, abb, abbb '

re.sub('[b]+','c',s1)

'ca a, ac, ac, ac '

In [107]:
 re.sub('[a-f]', '', '0a3B9', flags=re.IGNORECASE)

'039'

In [118]:
re.sub('[D|P]','','Dipak Patil 011183',flags = re.IGNORECASE)

'iak atil 011183'

In [121]:
import difflib

case_a = 'afrykbnerskojęzyczny'
case_b = 'afrykanerskojęzycznym'

output_list = [li for li in difflib.ndiff(case_a, case_b) if li[0] != ' ']
output_list

['- b', '+ a', '+ m']

In [123]:
s = 'Dipak'
print(s[0+1:])

ipak

In [24]:
nums = [3,4,5,1,2]

nums2 = sorted(nums)

print(nums2)
Flag = False

for i in range(len(nums)):
    t =nums[i:] + nums[:i]
    if t == nums2:
        Flag = True
    
    
print(Flag)

[1, 2, 3, 4, 5]
True

In [32]:
def maximumScore(a: int, b: int, c: int) -> int:
    score = 0
    if (a == 0 and b == 0) or (a == 0 and c == 0) or (b == 0 and c == 0):
        return 
    else:
        if a > 0 and b > 0 and c == 0:
            score += 1
            maximumScore(a-1, b-1 , c)
        elif a > 0 and b == 0 and c > 0:
            score += 1
            maximumScore(a-1, b , c-1)
        elif a == 0 and b > 0 and c > 0:
            score += 1
            maximumScore(a, b-1 , c-1)
        elif a > 0 and b > 0 and c > 0:  
            score += 1
            maximumScore(a-1, b-1 , c)
    return score
        
res = maximumScore(2,4,6)
res

1

In [36]:
x = [[1,4],[5,7]]
print(x[-1][1])

7

In [38]:
print('This is {} Dipak Patil'.format('a'))

This is a Dipak Patil

In [43]:
print("{},Dipak Patil".format('This is '))

This is ,Dipak Patil

In [51]:
print('{0:b}'.format(12))

1100

In [55]:
a = '11'
b = '1'

print(int(b,2))

1

In [64]:
nums = [1,2,3,4,5,6,7]
print(nums[-1:])
print(nums[:-1])

[7]
[1, 2, 3, 4, 5, 6]